html {
  --main-green-color: #41bf15;
  --main-red-color: #ff4f46;
  --main-text-color: #59737c;
  --white-color: #ffffff;
  --icons-color: #ababab;
  --borders-color: #e5e5e5;

  --bold-font: "HelveticaNeueW01-75Bold", sans-serif;
  --main-font: "HelveticaNeueW01-55Roma", sans-serif;
  --logo-font: "HelveticaNeueW02-95Blac", sans-serif;
  --avenir-font: "HelveticaNeueW01-55Roma", sans-serif;
}

.logo-and-options {
  display: flex;
  border-bottom: solid 1px var(--borders-color);
  align-items: center;
  padding: 5px 20px;
}

.logo {
  color: var(--main-green-color);
  font-family: var(--logo-font);
  font-size: 39px;
  flex-grow: 1;
}

.main-text, .input-description {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 26px;
}

.apply {
  color: var(--white-color);
  background-color: var(--main-green-color);
  font-family: var(--bold-font);
  font-size: 30px;
}

.company-name {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 33px;
  flex-grow: 1;
}

.stock-price-and-gain {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stock-price {
  color: var(--main-text-color);
  font-family: var(--bold-font);
  font-size: 30px;
  margin-right: 30px;
}

.gain {
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 34px;
  background-color: var(--main-red-color);
  border-radius: 10px;
  width: 200px;
}

.apply:hover {
  opacity: 0.8;
}

.apply:focus {
  outline: 0;
  box-shadow: 0 0 0 1px var(--main-green-color);
}

.gain:focus {
  outline: 0;
  box-shadow: 0 0 0 1px var(--main-red-color);
}

.navigation-button, .search-by-name-cancel-button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.options li {

  margin-right: 10px;
}

.company-item {
  display: flex;
  align-items: center;
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*border-color: var(--borders-color);*/
  padding: 5px 20px;
  border-bottom: solid 1px var(--borders-color);
}

input {
  width: 200px;
  /*flex-grow: 1;*/
}

.inputs {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.by-name, .by-gain, .by-range-from, .by-range-to {
  display: flex;
  align-items: center;
  padding: 5px;
}

.search-form {
  display: flex;
  padding: 20px;
}

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-description {
  flex-grow: 1;
  margin-right: 20px;
}

.apply {
  border-radius: 50%;
  height: 111px;
  width: 120px;
}

.search-form {
  display: flex;
  border-bottom: solid 1px var(--borders-color);
  padding: 5px;
  align-items: center;
  padding: 20px;
  /*justify-content: space-between;*/
}

.search-input {
  height: 55px;
  width: 361px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--borders-color);
  padding: 1px;
  font-family: var(--main-font);
  font-size: 20px;
  outline-width: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.options {
  display: flex;
}

.companies-list {
  padding: 20px;
}

.search-by-name-header {
  display: flex;
}

.search-by-name-input {
  height: 55px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--borders-color);
  padding: 1px;
  font-family: var(--main-font);
  font-size: 20px;
  outline-width: 0;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.search-by-name-cancel-button {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  font-family: var(--main-font);
  color: var(--main-green-color);
}

.search-by-name-image-and-text {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-by-name-image {

}

.search-by-name-text {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 33px;
}

.hidden {
  display: none !important;
}